/* Header */
.logo {
  width: 50px;
  height: 50px;
}

/* Navbar */
nav {
  position: fixed; /* Fixe la navbar en haut de la page */
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(56, 54, 54, 1) 50%,
    rgba(8, 7, 4, 1) 100%
  );
  color: white;
  padding: 15px 20px;
  z-index: 1000; /* Assure que la navbar reste au-dessus des autres éléments */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

nav:hover {
  box-shadow: 0 10px 10px rgba(252, 252, 252, 0.5);
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  transition: all 0.3s ease-in-out;
  align-items: center; /* Centre verticalement les liens */
  justify-content: center;
}

.nav-links li {
  margin: 0;
  transition: opacity 0.5s, transform 0.3s ease-in-out;
}

.nav-links li:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms ease-in-out;
}

.nav-links li a:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
}

/* Hamburger menu (caché par défaut) */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Cache les liens par défaut */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block; /* Affiche le bouton hamburger */
  }
}
